body
{
    color: #477CA4;
    background-color: #000519;
}

b
{
    color: #38ec38;
}
pre.ascii-art
{
    color: #38ec38;
    border: 3px dashed #0088dd;
    width: 50em;
    height: 10em;
    line-height: 1em;
}
a.ascii-art:hover
{
    text-decoration: none;
}
